@import "./reset.scss";
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #ebedee;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

button {
  background-color: #09adb6;
  width: 100%;
  height: 35px;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 16px;
}

.linkLogSign {
  display: flex;
  justify-content: center;
  color: #09adb6;
  font-size: 11px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  padding: 15px 0;
  background-color: #ffffff;

  img {
    height: 30px;
    cursor: pointer;
  }
  nav {
    display: flex;
    font-size: 12px;
    align-items: center;
    width: 500px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 20px;
      cursor: pointer;
      border: 2px solid #09adb6;
      color: #09adb6;
      border-radius: 10px;
      padding: 6px 10px;
      margin-top: 30px;
      margin-bottom: 20px;
      height: 22px;
      width: 100%;
    }
    button {
      margin-left: 20px;
      width: 100%;
    }
  }

  button {
    font-size: 12px;
    border: 4px solid #09adb6;
  }

  .buttonDeconnect {
    background-color: #c2175b;
    border: 1px solid #c2175b;
    color: #ffffff;
  }
}

.home {
  @include flexCenter;
  flex-wrap: wrap;
  justify-content: space-around;

  .offerCard {
    display: flex;
    flex-direction: column;
    img:first-child {
      height: 30px;
      width: 30px;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
      margin-right: 10px;
    }
    img:last-child {
      height: 360px;
      width: 235px;
      object-fit: cover;
      object-position: center;
    }

    .user {
      display: flex;
      align-items: center;
    }
  }
}

.offer {
  @include flexCenter;
  height: 600px;
  margin: 50px 200px;

  justify-content: space-around;

  img {
    height: 100%;
  }

  .card {
    background-color: #ffffff;
    width: 400px;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
    font-size: 14px;

    .topCard {
      p {
        font-weight: 600;
        &:first-child {
          font-size: 25px;
          margin-bottom: 20px;
        }
      }

      div {
        display: flex;
        margin-bottom: 10px;

        span {
          flex: 1 1;
          color: #666666;
          &:last-child {
            font-weight: 600;
          }
        }
      }
    }

    .divider {
      border-bottom: 1px solid #cccccc;
      margin: 60px 0;
    }

    .bottomCard {
      h1 {
        font-weight: 600;
        margin-bottom: 20px;
      }

      p {
        color: #666666;
        line-height: 20px;
      }

      .user {
        display: flex;
        margin: 30px 20px 0 0;
        align-items: center;
        color: #666666;
        img {
          width: 50px;
          height: 50px;
          object-fit: cover;
          object-position: center;
          border-radius: 50%;
          margin-right: 20px;
        }
        p {
          color: black;
        }
      }
    }
  }
}

.signup {
  @include flexCenter();
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  form {
    display: flex;
    flex-direction: column;
    width: 275px;
    margin: auto;

    input {
      border: none;
      border-bottom: 1px solid #fcced3;
      height: 35px;
      margin-bottom: 20px;

      &::placeholder {
        color: #cccccc;
      }
    }
  }
}

.login {
  @include flexCenter();
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  form {
    display: flex;
    flex-direction: column;
    width: 275px;
    margin: auto;

    input {
      border: none;
      border-bottom: 1px solid #fcced3;
      height: 35px;
      margin-bottom: 20px;

      &::placeholder {
        color: #cccccc;
      }
    }
  }
}
